/* Floating content */
.tsc_content_tooltip_container {
font: 11px normal Calibri, Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	background:#333;
	opacity:1;
	display:none; /*--Hides by default--*/
	padding:3px;
	position:absolute;	z-index:1000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.tsc_content_tooltip_container img { padding: 4px; float: left; }	


/* 3D style */

.tsc_3dtooltip {
  position: relative;
}
.tsc_3dtooltip :focus + :last-child, .tsc_3dtooltip:focus > :last-child, .tsc_3dtooltip:hover > :last-child {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s 0s;
  -moz-transition: 0.5s 0s;
  -ms-transition: 0.5s 0s;
  -o-transition: 0.5s 0s;
  transition: 0.5s 0s;

}
.tsc_3dtooltip > :last-child {
  font-size: 11px;
  line-height: 1;
  padding: 10px 10px;
  position: absolute;
  -webkit-transition: 0.3s 0s;
  -moz-transition: 0.3s 0s;
  -ms-transition: 0.3s 0s;
  -o-transition: 0.3s 0s;
  transition: 0.3s 0s;
  border: solid 1px;
  visibility: hidden;
  width: 180px;
  z-index: 999;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.tsc_3dtooltip > :last-child * {
  max-width: 100%;
}
.tsc_3dtooltip > :last-child:after, .tsc_3dtooltip > :last-child:before {
  position: absolute;
  border: solid 11px;
  display: block;
  content: "";
  margin: 0 18px 0 12px;
}

.tsc_3dtooltip.white > :last-child {
  background-color: #eee;
  border-color: #ccc;
  color: #333;
}
.tsc_3dtooltip.white > :last-child:after {
  border-color: #eee;
}
.tsc_3dtooltip.white > :last-child:before {
  border-color: #ccc;
}
.tsc_3dtooltip.white > :last-child {

}


.tsc_3dtooltip.red > :last-child {
  background-color: #CC0000;
  border-color: #990000;
  color: #ffffff;
}
.tsc_3dtooltip.red > :last-child:after {
  border-color: #CC0000;
}
.tsc_3dtooltip.red > :last-child:before {
  border-color: #990000;
}
.tsc_3dtooltip.red > :last-child {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.tsc_3dtooltip.orange > :last-child {
  background-color: #EF9E3D;
  border-color: #AB640E;
  color: #251603;
}
.tsc_3dtooltip.orange > :last-child:after {
  border-color: #EF9E3D;
}
.tsc_3dtooltip.orange > :last-child:before {
  border-color: #AB640E;
}
.tsc_3dtooltip.orange > :last-child {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.tsc_3dtooltip.black > :last-child {
  background-color: #333333;
  border-color: #0d0d0d;
  color: #ffffff;
}
.tsc_3dtooltip.black > :last-child:after {
  border-color: #333333;
}
.tsc_3dtooltip.black > :last-child:before {
  border-color: #0d0d0d;
}
.tsc_3dtooltip.black > :last-child {
  text-shadow: 0 1px 0 #000000;
}
.tsc_3dtooltip.teal > :last-child:after {
  border-color: #87ceeb;
}
.tsc_3dtooltip.teal > :last-child:before {
  border-color: #45b3e0;
}
.tsc_3dtooltip.teal > :last-child {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.tsc_3dtooltip.blue > :last-child {
  background-color: #00509F;
  border-color: #002346;
  color: #ffffff;
}
.tsc_3dtooltip.blue > :last-child:after {
  border-color: #002346;
}
.tsc_3dtooltip.blue > :last-child:before {
  border-color: #00509F;
}
.tsc_3dtooltip.blue > :last-child {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.tsc_3dtooltip.yellow > :last-child {
  background-color: #ffdb58;
  border-color: #f1bd00;
  color: #3f3100;
}
.tsc_3dtooltip.yellow > :last-child:after {
  border-color: #ffdb58;
}
.tsc_3dtooltip.yellow > :last-child:before {
  border-color: #f1bd00;
}
.tsc_3dtooltip.yellow > :last-child {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.tsc_3dtooltip.teal > :last-child {
  background-color: #87ceeb;
  border-color: #45b3e0;
  color: #0d3a4d;
}
.tsc_3dtooltip.green > :last-child {
  background-color: #87C236;
  border-color: #55780C;
  color: #161d00;
}
.tsc_3dtooltip.green > :last-child:after {
  border-color: #87C236;
}
.tsc_3dtooltip.green > :last-child:before {
  border-color: #55780C;
}
.tsc_3dtooltip.green > :last-child {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.tsc_3dtooltip.bottom > :last-child {
  margin-top: 15px;
  top: 100%;
}
.tsc_3dtooltip.bottom > :last-child:after {
  margin-bottom: -1px;
}
.tsc_3dtooltip.bottom > :last-child:after, .tsc_3dtooltip.bottom > :last-child:before {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  bottom: 100%;
}
.tsc_3dtooltip.bottom > :last-child:before {
  margin-bottom: 0px;
}
.tsc_3dtooltip.center > :last-child {
  left: -125px;
  margin-left: 50%;
}
.tsc_3dtooltip.center > :last-child:after, .tsc_3dtooltip.center > :last-child:before {
  left: 50%;
  margin-left: -10px;
}
.tsc_3dtooltip.left > :last-child {
  left: 0;
}
.tsc_3dtooltip.left > :last-child:after, .tsc_3dtooltip.left > :last-child:before {
  left: 0;
}
.tsc_3dtooltip.right > :last-child {
  right: 0;
}
.tsc_3dtooltip.right > :last-child:after, .tsc_3dtooltip.right > :last-child:before {
  right: 0;
}
.tsc_3dtooltip.top > :last-child {
  bottom: 100%;
  margin-bottom: 15px;
}
.tsc_3dtooltip.top > :last-child:after {
  margin-top: -1px;
}
.tsc_3dtooltip.top > :last-child:after, .tsc_3dtooltip.top > :last-child:before {
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  top: 100%;
}
.tsc_3dtooltip.top > :last-child:before {
  margin-top: 0px;
}
.tsc_3dtooltip.auto > :last-child {
  width: auto;
  white-space: nowrap;
}
.tsc_3dtooltip.full > :last-child {
  left: 0;
  margin-left: 0;
  width: 100%;
}

/* Flat style */

.tsc_flat_tooltip {
  position: relative;
}
.tsc_flat_tooltip :focus + :last-child, .tsc_flat_tooltip:focus > :last-child, .tsc_flat_tooltip:hover > :last-child {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s 0s;
  -moz-transition: 0.5s 0s;
  -ms-transition: 0.5s 0s;
  -o-transition: 0.5s 0s;
  transition: 0.5s 0s;

}
.tsc_flat_tooltip > :last-child {
  font-size: 11px;
  line-height: 1;
  padding: 10px 10px;
  position: absolute;
  -webkit-transition: 0.5s 0s;
  -moz-transition: 0.5s 0s;
  -ms-transition: 0.5s 0s;
  -o-transition: 0.5s 0s;
  transition: 0.5s 0s;
  border: solid 1px;
  visibility: hidden;
  width: 180px;
  z-index: 999;
  border-radius: 2px;
}
.tsc_flat_tooltip > :last-child * {
  max-width: 100%;
}
.tsc_flat_tooltip > :last-child:after, .tsc_flat_tooltip > :last-child:before {
  position: absolute;
  border: solid 11px;
  display: block;
  content: "";
  margin: 0 18px 0 12px;
}

.tsc_flat_tooltip.white > :last-child {
  background-color: #eee;
  border-color: #eee;
  color: #333;
}
.tsc_flat_tooltip.white > :last-child:after {
  border-color: #eee;
}
.tsc_flat_tooltip.white > :last-child:before {
  border-color: #eee;
}
.tsc_flat_tooltip.white > :last-child {
}


.tsc_flat_tooltip.red > :last-child {
  background-color: #CC0000;
  border-color: #CC0000;
  color: #ffffff;
}
.tsc_flat_tooltip.red > :last-child:after {
  border-color: #CC0000;
}
.tsc_flat_tooltip.red > :last-child:before {
  border-color: #CC0000;
}
.tsc_flat_tooltip.red > :last-child {

}
.tsc_flat_tooltip.orange > :last-child {
  background-color: #EF9E3D;
  border-color: #EF9E3D;
  color: #251603;
}
.tsc_flat_tooltip.orange > :last-child:after {
  border-color: #EF9E3D;
}
.tsc_flat_tooltip.orange > :last-child:before {
  border-color: #EF9E3D;
}
.tsc_flat_tooltip.orange > :last-child {

}
.tsc_flat_tooltip.black > :last-child {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.tsc_flat_tooltip.black > :last-child:after {
  border-color: #333333;
}
.tsc_flat_tooltip.black > :last-child:before {
  border-color: #333333;
}
.tsc_flat_tooltip.black > :last-child {

}
.tsc_flat_tooltip.teal > :last-child {
  background-color: #87ceeb;
  border-color: #87ceeb;
  color: #0d3a4d;
}
.tsc_flat_tooltip.teal > :last-child:after {
  border-color: #87ceeb;
}
.tsc_flat_tooltip.teal > :last-child:before {
  border-color: #87ceeb;
}
.tsc_flat_tooltip.teal > :last-child {

}

.tsc_flat_tooltip.blue > :last-child {
  background-color: #00509F;
  border-color: #00509F;
  color: #ffffff;
}
.tsc_flat_tooltip.blue > :last-child:after {
  border-color: #00509F;
}
.tsc_flat_tooltip.blue > :last-child:before {
  border-color: #00509F;
}
.tsc_flat_tooltip.blue > :last-child {

}
.tsc_flat_tooltip.yellow > :last-child {
  background-color: #ffdb58;
  border-color: #ffdb58;
  color: #3f3100;
}
.tsc_flat_tooltip.yellow > :last-child:after {
  border-color: #ffdb58;
}
.tsc_flat_tooltip.yellow > :last-child:before {
  border-color: #ffdb58;
}
.tsc_flat_tooltip.yellow > :last-child {

}
.tsc_flat_tooltip.green > :last-child {
  background-color: #87C236;
  border-color: #87C236;
  color: #fff;
}
.tsc_flat_tooltip.green > :last-child:after {
  border-color: #87C236;
}
.tsc_flat_tooltip.green > :last-child:before {
  border-color: #87C236;
}
.tsc_flat_tooltip.green > :last-child {

}

.tsc_flat_tooltip.bottom > :last-child {
  margin-top: 15px;
  top: 100%;
}
.tsc_flat_tooltip.bottom > :last-child:after {
  margin-bottom: -1px;
}
.tsc_flat_tooltip.bottom > :last-child:after, .tsc_flat_tooltip.bottom > :last-child:before {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  bottom: 100%;
}
.tsc_flat_tooltip.bottom > :last-child:before {
  margin-bottom: 0px;
}
.tsc_flat_tooltip.center > :last-child {
  left: -125px;
  margin-left: 50%;
}
.tsc_flat_tooltip.center > :last-child:after, .tsc_flat_tooltip.center > :last-child:before {
  left: 50%;
  margin-left: -10px;
}
.tsc_flat_tooltip.left > :last-child {
  left: 0;
}
.tsc_flat_tooltip.left > :last-child:after, .tsc_flat_tooltip.left > :last-child:before {
  left: 0;
}
.tsc_flat_tooltip.right > :last-child {
  right: 0;
}
.tsc_flat_tooltip.right > :last-child:after, .tsc_flat_tooltip.right > :last-child:before {
  right: 0;
}
.tsc_flat_tooltip.top > :last-child {
  bottom: 100%;
  margin-bottom: 15px;
}
.tsc_flat_tooltip.top > :last-child:after {
  margin-top: -1px;
}
.tsc_flat_tooltip.top > :last-child:after, .tsc_flat_tooltip.top > :last-child:before {
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  top: 100%;
}
.tsc_flat_tooltip.top > :last-child:before {
  margin-top: 0px;
}
.tsc_flat_tooltip.auto > :last-child {
  width: auto;
  white-space: nowrap;
}
.tsc_flat_tooltip.full > :last-child {
  left: 0;
  margin-left: 0;
  width: 100%;
}


